body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}

#slideshow-container img{
    max-width: 500px;
    position: relative;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    height: 550px;
    width: 850px;
}
.slide{
    display: none;
    position: absolute;
    width: 100%;
    height: auto;
}

.slide img{
    width: 100%;
    height: auto;
}

#prev, #next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#prev{
    left: 10px;
}
#next{
    right: 10px;
}
button{
    margin-top: 65px;
}
h1{
    color: chartreuse;
    background-color: black;
}